@charset "UTF-8";

.gpt-footer,
.gpt-middle {
    text-align: center;
    margin: 0 auto 20px
}

.gpt-middle {
    padding: 10px 0;
    margin: 10px 0
}

@media (max-width:1023px) {
    .footer {
        padding-bottom: 50px !important
    }
}

@media (min-width:1023px) {
    .gpt-footer {
        width: 970px;
        min-height: 90px
    }
}

.ad-unit.gpt-category-sidebar-sticky,
.ad-unit.gpt-sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    display: table;
    width: 100%
}

.ad-unit,
.taboola {
    position: relative;
    padding: 20px 0 10px
}

.ad-unit>div:first-of-type::before,
.taboola>div:first-of-type::before {
    content: 'PUBLICIDADE';
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: .5625rem;
    color: #6f7e8a;
    text-align: center;
    display: block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0
}

.ad-unit--es>div:first-of-type::before,
.taboola--es>div:first-of-type::before {
    content: 'PUBLICIDAD'
}

.ad-unit--ru>div>div:first-of-type,
.taboola--ru>div>div:first-of-type {
    content: 'РЕКЛАМА'
}

.ad-unit--en-us>div>div:first-of-type,
.taboola--en-us>div>div:first-of-type {
    content: 'ADVERTISEMENT'
}

.ad-unit-sticky--footer {
    padding: 0;
    overflow: hidden
}

.ad-unit-sticky--footer>div::before {
    content: none
}

@font-face {
    font-family: "sk";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/sk.018.eot);
    src: url(/fonts/sk.018.eot?#iefix) format("embedded-opentype"), url(/fonts/sk.018.woff2) format("woff2"), url(/fonts/sk.018.woff) format("woff"), url(/fonts/sk.018.ttf) format("truetype"), url(/fonts/sk.018.svg#sk) format("svg")
}

.article--infos i:before,
.btn-subtle i:before,
.filter-arrow i:before,
.follow-mobile .facebook i:before,
.follow-mobile .instagram i:before,
.follow-mobile .pinterest i:before,
.follow-mobile .twitter i:before,
.footer .toggle-menu--button i:before,
.footer-open .footer .toggle-menu--button i:before,
.icon-acad:before,
.icon-calc:before,
.icon-cam:before,
.icon-career:before,
.icon-caret:before,
.icon-certified:before,
.icon-doc:before,
.icon-download:before,
.icon-email:before,
.icon-info:before,
.icon-pdf:before,
.icon-phone:before,
.icon-plus:before,
.icon-preview:before,
.icon-profile:before,
.icon-reset:before,
.icon-sg-social-email:before,
.icon-sg-social-facebook:before,
.icon-sg-social-linkedin:before,
.icon-sg-social-pinterest:before,
.icon-sg-social-print:before,
.icon-sg-social-sms:before,
.icon-sg-social-twitter:before,
.icon-sg-social-whatsapp:before,
.icon-sk-arrow-left:before,
.icon-sk-arrow-right:before,
.icon-sk-caret-down:before,
.icon-sk-caret-left:before,
.icon-sk-caret-right:before,
.icon-sk-close:before,
.icon-sk-email:before,
.icon-sk-facebook:before,
.icon-sk-instagram:before,
.icon-sk-menu:before,
.icon-sk-pinterest:before,
.icon-sk-search:before,
.icon-sk-time:before,
.icon-sk-twitter:before,
.icon-telephone:before,
.icon-trash:before,
.menu-open .toggle-menu--button i:before,
.pagination .page--jump:first-child i:before,
.pagination .page--jump:last-child i:before,
.pubdate i:before,
.search-desktop i:before,
.search-form .search-button i:before,
.search-form .search-icon i:before,
.search-mobile--button i:before,
.tdc-search form .icon-wrapper i:before,
.toggle-menu--button i:before,
[class*=" icon-"],
[class^=icon-] {
    font: 14px/1 "sk";
    font-size: inherit;
    text-decoration: none;
    text-transform: none;
    line-height: inherit;
    display: block;
    vertical-align: middle;
    min-width: 1em;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



.icon-sg-social-facebook:before {
    content: "";
    display: block
}

.icon-sg-social-linkedin:before {
    content: "";
    display: block
}

.icon-sg-social-twitter:before {
    content: "";
    display: block
}

.icon-sg-social-whatsapp:before {
    content: "";
    display: block
}

.icon-sg-social-pinterest:before {
    content: "";
    display: block
}

.icon-sg-social-sms:before {
    content: "";
    display: block
}

.icon-sg-social-print:before {
    content: "";
    display: block
}

.icon-sg-social-email:before {
    content: "";
    display: block
}

.icon-sk-arrow-left:before {
    content: "";
    display: block
}

.btn-subtle i:before,
.icon-sk-arrow-right:before,
.search-form .search-button i:before {
    content: "";
    display: block
}

.filter-arrow i:before,
.icon-sk-caret-down:before {
    content: "";
    display: block
}

.icon-sk-caret-left:before,
.pagination .page--jump:first-child i:before {
    content: "";
    display: block
}

.icon-sk-caret-right:before,
.pagination .page--jump:last-child i:before {
    content: "";
    display: block
}

.footer-open .footer .toggle-menu--button i:before,
.icon-sk-close:before,
.menu-open .toggle-menu--button i:before {
    content: "";
    display: block
}

.icon-sk-email:before {
    content: "";
    display: block
}

.follow-mobile .facebook i:before,
.icon-sk-facebook:before {
    content: "";
    display: block
}

.follow-mobile .instagram i:before,
.icon-sk-instagram:before {
    content: "";
    display: block
}

.footer .toggle-menu--button i:before,
.icon-sk-menu:before,
.toggle-menu--button i:before {
    content: "";
    display: block
}

.follow-mobile .pinterest i:before,
.icon-sk-pinterest:before {
    content: "";
    display: block
}

.icon-sk-search:before,
.search-desktop i:before,
.search-form .search-icon i:before,
.search-mobile--button i:before,
.tdc-search form .icon-wrapper i:before {
    content: "";
    display: block
}

.article--infos i:before,
.icon-sk-time:before,
.pubdate i:before {
    content: "";
    display: block
}

.follow-mobile .twitter i:before,
.icon-sk-twitter:before {
    content: "";
    display: block
}

.icon-calc:before {
    content: "";
    display: block
}

.icon-info:before {
    content: "";
    display: block
}

.icon-preview:before {
    content: "";
    display: block
}

.icon-plus:before {
    content: "";
    display: block
}

.icon-pdf:before {
    content: "";
    display: block
}

.icon-doc:before {
    content: "";
    display: block
}

.icon-certified:before {
    content: "";
    display: block
}

.icon-career:before {
    content: "";
    display: block
}

.icon-cam:before {
    content: "";
    display: block
}

.icon-acad:before {
    content: "";
    display: block
}

.icon-trash:before {
    content: "";
    display: block
}

.icon-telephone:before {
    content: "";
    display: block
}

.icon-phone:before {
    content: "";
    display: block
}

.icon-email:before {
    content: "";
    display: block
}

.icon-caret:before {
    content: "";
    display: block
}

.icon-reset:before {
    content: "";
    display: block
}

.icon-profile:before {
    content: "";
    display: block
}

.icon-download:before {
    content: "";
    display: block
}

.related-inline-title,
.underline-title {
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1rem
}

@media (min-width:1024px) {

    .related-inline-title,
    .underline-title {
        font-size: 1.125rem
    }
}

.related-inline-title,
.underline-title {
    text-transform: uppercase;
    letter-spacing: .03em
}

.pagination .page--jump a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination .page--jump a i {
    margin-right: .5em
}

.pagination .page--jump a span {
    vertical-align: middle
}

.search-form .search-button,
.search-mobile--button {
    background: 0 0;
    padding: 0;
    font-size: inherit;
    border-radius: 0;
    border: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.search-form .search-button {
    line-height: 1
}

.search-form .search-button:focus,
.search-mobile--button:focus,
.tdc-search form button:focus {
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.a:link,
a:link {
    -webkit-tap-highlight-color: rgba(25, 25, 25, .1)
}

@media (min-width:1024px) {

    .a,
    a {
        -webkit-transition: color, .2s;
        transition: color, .2s
    }

    .a:hover,
    a:hover {
        color: #337ab7
    }
}

h2[id^=anchor-]:before,
h3[id^=anchor-]:before,
h4[id^=anchor-]:before,
h5[id^=anchor-]:before {
    display: block;
    content: " ";
    visibility: hidden;
    pointer-events: none;
    margin-top: -20px;
    height: 20px
}

.btn {
    -webkit-transition: background-color;
    transition: background-color
}

@media (min-width:1024px) {
    .btn:hover {
        color: #fff;
        background-color: #1d8aa7
    }
}

.btn-subtle i {
    font-size: .8em
}

@media (min-width:1024px) {
    .btn-subtle i {
        -webkit-transition: margin-left, .2s;
        transition: margin-left, .2s
    }

    .btn-subtle:hover i {
        margin-left: 1em
    }
}

input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 0;
    color: #191919;
    display: block;
    font: 1rem/1 "Source Sans Pro", Helvetica, Arial, sans-serif;
    padding: .375rem .75rem
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 5px #4d90fe;
    box-shadow: 0 0 5px #4d90fe;
    outline: 0
}

input.search-mobile--input:focus,
select.search-mobile--input:focus,
textarea.search-mobile--input:focus {
    border: inherit;
    -webkit-box-shadow: none;
    box-shadow: none
}

input.is-invalid,
select.is-invalid,
textarea.is-invalid {
    border-color: #f50023
}

input.is-invalid:focus,
select.is-invalid:focus,
textarea.is-invalid:focus {
    border-color: #f50023
}

input.is-invalid.is-focused,
select.is-invalid.is-focused,
textarea.is-invalid.is-focused {
    -webkit-box-shadow: 0 0 5px #f50023;
    box-shadow: 0 0 5px #f50023
}

input:focus,
select:focus,
textarea:focus {
    border-color: #7f7f7f
}

input.placeholder,
select.placeholder,
textarea.placeholder {
    color: #7f7f7f
}

input:-moz-placeholder,
input::-moz-placeholder,
select:-moz-placeholder,
select::-moz-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder {
    color: #7f7f7f
}

input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #7f7f7f
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #7f7f7f
}

input.is-invalid,
input.is-valid,
textarea.is-invalid,
textarea.is-valid {
    padding-right: 3rem
}

textarea {
    height: auto;
    line-height: 1.3;
    resize: vertical
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width:1023px) {
    select {
        font-size: 1rem !important
    }
}

.menu-open {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0
}

.toggle-menu--button i {
    font-size: .75rem
}

.menu-open .toggle-menu--button i {
    font-size: .875rem
}

.menu-mobile {
    background-color: rgba(25, 25, 25, .95);
    z-index: 9999;
    border-top: 1px solid rgba(255, 255, 255, .1);
    -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.menu-open .menu-mobile {
    opacity: 1;
    visibility: visible;
    position: relative;
    display: block;
    top: 0;
    height: 100vh
}

.menu-mobile--container {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px 130px
}

.menu-mobile .title-list {
    color: rgba(255, 255, 255, .3);
    font-size: .625rem;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .06em;
    margin-bottom: .625rem
}

.search-mobile {
    position: relative;
    height: 60px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 1.25rem
}

.search-mobile--input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    padding-right: 60px;
    padding-left: 1.25rem;
    background: rgba(255, 255, 255, .08);
    border: 0;
    color: rgba(255, 255, 255, .5);
    font-weight: 300;
    font-size: 1.5rem
}

.search-mobile--input:focus {
    color: #fff
}

.search-mobile--button {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 60px;
    z-index: 1;
    color: rgba(255, 255, 255, .5);
    font-size: 1.25rem
}

.cats-mobile {
    margin-bottom: 1.25rem
}

.cats-mobile--list a {
    font-size: 1.125rem;
    line-height: 1;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: .06em;
    display: block;
    padding: .5em 0
}

.cats-mobile--list a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.follow-mobile {
    margin-bottom: 3.75rem
}

.follow-mobile a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    text-align: center;
    vertical-align: middle;
    color: #191919;
    background: rgba(255, 255, 255, .6);
    margin-right: .625rem;
    text-decoration: none
}

.search-desktop--input {
    -webkit-transition: all;
    transition: all
}

.search-desktop i {
    display: block;
    visibility: visible;
    color: rgba(255, 255, 255, .7);
    font-size: .875rem;
    line-height: 1;
    text-align: center;
    width: 18px;
    position: absolute;
    left: 6px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none
}

.search-desktop--input.placeholder {
    -webkit-transition: color;
    transition: color
}

.search-desktop--input:-moz-placeholder,
.search-desktop--input::-moz-placeholder {
    -webkit-transition: color;
    transition: color
}

.search-desktop--input:-ms-input-placeholder {
    -webkit-transition: color;
    transition: color
}

.search-desktop--input::-webkit-input-placeholder {
    -webkit-transition: color;
    transition: color
}

.search-desktop--input:hover+i,
.search-desktop--input:hover.placeholder {
    color: #fff
}

.search-desktop--input:hover:-moz-placeholder,
.search-desktop--input:hover::-moz-placeholder {
    color: #fff
}

.search-desktop--input:hover:-ms-input-placeholder {
    color: #fff
}

.search-desktop--input:hover::-webkit-input-placeholder {
    color: #fff
}

.header-inverse .search-desktop--input.is-active,
.header-inverse .search-desktop--input:focus,
.search-desktop--input.is-active,
.search-desktop--input:focus {
    width: 200px;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0
}

.header-inverse .search-desktop--input.is-active.placeholder,
.search-desktop--input.is-active.placeholder,
.search-desktop--input:focus.placeholder {
    color: rgba(64, 64, 64, .7)
}

.header-inverse .search-desktop--input.is-active:-moz-placeholder,
.header-inverse .search-desktop--input.is-active::-moz-placeholder,
.search-desktop--input.is-active:-moz-placeholder,
.search-desktop--input.is-active::-moz-placeholder,
.search-desktop--input:focus:-moz-placeholder,
.search-desktop--input:focus::-moz-placeholder {
    color: rgba(64, 64, 64, .7)
}

.header-inverse .search-desktop--input.is-active:-ms-input-placeholder,
.search-desktop--input.is-active:-ms-input-placeholder,
.search-desktop--input:focus:-ms-input-placeholder {
    color: rgba(64, 64, 64, .7)
}

.header-inverse .search-desktop--input.is-active::-webkit-input-placeholder,
.search-desktop--input.is-active::-webkit-input-placeholder,
.search-desktop--input:focus::-webkit-input-placeholder {
    color: rgba(64, 64, 64, .7)
}

.search-desktop--input.is-active,
.search-desktop--input.is-active+i {
    color: rgba(64, 64, 64, .7)
}

.search-desktop--input:focus {
    cursor: text;
    color: #404040
}

.search-desktop--input:focus+i {
    pointer-events: auto;
    color: #404040
}

.search-desktop--input.is-active:hover,
.search-desktop--input.is-active:hover+i {
    color: #404040
}

.header-inverse .search-desktop--input:hover+i {
    color: rgba(64, 64, 64, .7)
}

.header-inverse .search-desktop--input.is-active {
    padding-top: 15px;
    padding-bottom: 15px
}

.header-inverse .search-desktop--input:focus {
    -webkit-box-shadow: inset 0 0 0 1px rgba(211, 157, 68, .3);
    box-shadow: inset 0 0 0 1px rgba(211, 157, 68, .3);
    color: #404040
}

.header-inverse .search-desktop--input.is-active:hover,
.header-inverse .search-desktop--input.is-active:hover+i,
.header-inverse .search-desktop--input:focus+i {
    color: #404040
}

.header-search-visible .search-desktop i {
    left: .625rem
}

.header-search-visible .search-desktop--input:focus+i,
.header-search-visible .search-desktop--input:hover+i {
    color: #d39d44
}

.header-inverse .search-desktop i,
.header-search-visible .search-desktop i {
    color: rgba(64, 64, 64, .4)
}

.header-inverse .search-desktop--input:focus.placeholder,
.header-inverse .search-desktop--input:hover.placeholder,
.header-search-visible .search-desktop--input:focus.placeholder,
.header-search-visible .search-desktop--input:hover.placeholder {
    color: rgba(64, 64, 64, .7)
}

.header-inverse .search-desktop--input:focus:-moz-placeholder,
.header-inverse .search-desktop--input:focus::-moz-placeholder,
.header-inverse .search-desktop--input:hover:-moz-placeholder,
.header-inverse .search-desktop--input:hover::-moz-placeholder,
.header-search-visible .search-desktop--input:focus:-moz-placeholder,
.header-search-visible .search-desktop--input:focus::-moz-placeholder,
.header-search-visible .search-desktop--input:hover:-moz-placeholder,
.header-search-visible .search-desktop--input:hover::-moz-placeholder {
    color: rgba(64, 64, 64, .7)
}

.header-inverse .search-desktop--input:focus:-ms-input-placeholder,
.header-inverse .search-desktop--input:hover:-ms-input-placeholder,
.header-search-visible .search-desktop--input:focus:-ms-input-placeholder,
.header-search-visible .search-desktop--input:hover:-ms-input-placeholder {
    color: rgba(64, 64, 64, .7)
}

.header-inverse .search-desktop--input:focus::-webkit-input-placeholder,
.header-inverse .search-desktop--input:hover::-webkit-input-placeholder,
.header-search-visible .search-desktop--input:focus::-webkit-input-placeholder,
.header-search-visible .search-desktop--input:hover::-webkit-input-placeholder {
    color: rgba(64, 64, 64, .7)
}

.header-search-visible.header-inverse .search-desktop--input.is-active,
.header-search-visible.header-inverse .search-desktop--input:focus,
.header-search-visible.header-inverse .search-desktop--input:hover {
    -webkit-box-shadow: inset 0 0 0 1px #d39d44;
    box-shadow: inset 0 0 0 1px #d39d44
}

.sidebar .articles {
    margin-bottom: 0
}

body:not(.body-index) .footer {
    margin-top: 30px
}

.footer {
    background: #262626;
    color: #b3b3b3;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 100%
}

@media (max-width:1023px) {
    .footer {
        padding: 0 20px 50px
    }

    .footer .container {
        padding: 0
    }
}

.footer a {
    color: inherit;
    text-decoration: none
}

@media (max-width:1023px) {
    .footer--menu {
        background: #191919;
        margin: 0 -20px;
        padding: 0 20px;
        text-align: center;
        clear: both;
        border: 1px solid rgba(255, 255, 255, .2);
        border-width: 1px 0;
        display: none
    }

    .footer--menu>div:not(:first-child) {
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .footer--menu a {
        display: block;
        padding: 1em 0;
        color: #fff
    }
}

.footer-open .footer--menu {
    display: block
}

.footer--copy {
    width: 73.9726%;
    float: left;
    margin-right: 4.10959%;
    line-height: 54px;
    font-size: .75rem
}

.footer--copy a {
    text-decoration: underline
}

.footer .toggle-menu {
    float: right;
    position: relative;
    right: auto;
    top: auto;
    margin-right: -20px;
    height: 54px;
    line-height: 54px;
    width: 54px
}

.footer .toggle-menu--button {
    line-height: 54px;
    color: #fff;
    background: inherit
}

.footer .toggle-menu--button:focus {
    outline: 0 solid #fff
}

.footer-open .footer .toggle-menu--button i {
    font-size: .875rem
}

.footer .rss {
    display: none;
    visibility: hidden
}

@media (min-width:1024px) {
    .footer .rss {
        visibility: visible
    }

    .footer a:hover {
        color: #fff
    }

    .footer .sg:hover {
        color: #ff6900
    }

    .footer--menu {
        width: 82.88288%;
        float: left;
        margin-right: 2.7027%;
        line-height: 54px;
        font-size: .75rem
    }

    .footer .rss,
    .footer--menu>div {
        display: inline-block
    }

    .footer--menu>div:not(:last-child) {
        margin-right: 1.875rem
    }

    .footer--copy {
        width: 14.41441%;
        float: right;
        margin-right: 0;
        text-align: right
    }
}

.article-card,
.article-card--wide {
    margin-bottom: 4.10959%;
    width: 100%
}

.article-card--wide {
    width: 47.94521%;
    float: left;
    margin-right: 4.10959%
}

.article-card--wide:nth-child(even) {
    float: right;
    margin-right: 0
}

.article-card--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

@media (max-width:767px) {
    .article-card--classic:nth-child(even) {
        float: right;
        margin-right: 0
    }
}

@media (max-width:1023px) {

    .article-card--classic,
    .article-card--normal,
    .article-card--square {
        width: 47.94521%;
        float: left;
        margin-right: 3%
    }

    .article-card--normal:nth-child(even) {
        float: right;
        margin-right: 0
    }

    .article-card--square:last-child {
        float: right;
        margin-right: 0
    }
}

@media (min-width:768px) {
    .article-card {
        margin-bottom: 2.7027%
    }

    .article-card--big,
    .article-card--square {
        width: 48.64865%;
        float: left;
        margin-right: 2.7027%
    }

    .article-card--square {
        width: 22.97297%
    }

    .article-card--square:last-child {
        float: right;
        margin-right: 0
    }

    .article-card--normal {
        width: 31.53153%;
        float: left;
        margin-right: 2.7027%
    }

    .article-card--classic:nth-child(4n),
    .article-card--normal:nth-child(3n) {
        float: right;
        margin-right: 0
    }

    .article-card--classic {
        width: 22.97297%;
        float: left;
        margin-right: 2.7027%
    }

    .article-card--flex {
        width: 48.64865%;
        float: right;
        margin-right: 0
    }

    .article-card--wide {
        width: 47.22222%;
        float: left;
        margin-right: 5.55556%;
        margin-bottom: 5.55556%
    }
}

@media (min-width:1024px) {
    .article-card--big {
        width: 48.64865%;
        float: left;
        margin-right: 2.7027%
    }

    .article-card--list {
        margin-bottom: 8.57143%
    }

    .article-card--flex {
        width: 48.64865%;
        float: right;
        margin-right: 0
    }

    .article-card--wide {
        width: 47.22222%;
        float: left;
        margin-right: 5.55556%;
        margin-bottom: 5.55556%
    }

    .article-card {
        margin-bottom: 1.875rem
    }
}

.complex .article-card--square .card-img:before {
    padding-top: 75%
}

.complex .article-card--wide .card-img:before {
    padding-top: 54.28571%
}

.complex .article-card--big .card-img:before {
    padding-top: 47.22222%
}

@media (min-width:768px) {
    .complex .article-card--square .card-img:before {
        padding-top: 100%
    }

    .complex .article-card--wide .card-img:before {
        padding-top: 37.2549%
    }
}

.articles-view-more {
    *zoom: 1;
    text-align: center;
    margin-bottom: 3.125rem
}

.articles-view-more:after,
.articles-view-more:before {
    content: " ";
    display: table
}

.articles-view-more:after {
    clear: both
}

.articles--list .articles-view-more {
    margin-top: 8.21918%
}

@media (min-width:570px) {
    .articles--list .articles-view-more {
        margin-top: 4.10959%
    }
}

@media (min-width:768px) {
    .articles--list .articles-view-more {
        margin-top: 2.7027%
    }
}

@media (min-width:1024px) {
    .articles--list .articles-view-more {
        margin-top: 8.57143%
    }
}

.about {
    *zoom: 1;
    background: #191919;
    padding: 2.5rem 0;
    color: #fff;
    text-align: center
}

.about:after,
.about:before {
    content: " ";
    display: table
}

.about:after {
    clear: both
}

.about .desc,
.about .title {
    margin: 0
}

.about .title {
    margin-bottom: 1.25rem
}

.about .title .text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
    font-size: 0
}

.about .title img {
    display: block;
    margin: 0 auto
}

.about .desc {
    font-weight: 300
}

@media (min-width:570px) {
    .about .container>div {
        width: 82.88288%;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width:768px) {
    .about {
        margin-top: 50px
    }

    .about .container>div {
        width: 65.76577%
    }
}

@media (min-width:1024px) {
    .about .container>div {
        width: 48.64865%
    }
}

.article--body .imgur-embed-iframe-pub {
    max-width: 100% !important
}

.article--body time {
    display: block;
    margin: 10px 0 20px;
    color: #757575;
    font-family: sans-serif;
    font-size: .84375rem
}

.videoWrapper {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden
}

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

@media (max-width:1023px) {
    .videoWrapper {
        margin-left: -10px;
        margin-right: -10px
    }
}

.img-caption {
    display: block;
    font-size: .875rem;
    margin-top: .5rem;
    line-height: 1.2
}

.category-header .share-module {
    float: right
}

@media (min-width:1024px) {
    .category-header .share-module {
        margin-top: .3125rem
    }
}

.search-form .search-input {
    -webkit-transition: border, .2s;
    transition: border, .2s
}

.search-form .search-input:focus,
.search-form .search-input:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #bfbfbf
}

@media (min-width:1024px) {
    .search-form .search-button {
        cursor: pointer
    }
}

.gogsearch ul {
    padding: 0;
    list-style: none
}

.gogsearch input {
    display: inline-block
}

@media (min-width:1024px) {

    .article-card,
    .card-img:after {
        -webkit-transition: background-color;
        transition: background-color
    }

    .article-card .card-img img {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .article-card:hover {
        background: #fafafa
    }

    .article-card:hover .card-img:after {
        background-color: rgba(0, 0, 0, .15)
    }

    .article-card:hover .card-img img {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    .article-card--gray:hover {
        background: #eee
    }

    .article-card--stack .title:hover {
        color: inherit;
        text-decoration: underline
    }

    .card-content .title {
        -webkit-transition: color;
        transition: color
    }

    .article-card--list:hover .card-img img {
        -webkit-transform: scale(1.03) translateX(-50%) translateY(-50%);
        transform: scale(1.03) translateX(-50%) translateY(-50%)
    }

    .card-img img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: transform;
        -webkit-transition: -webkit-transform;
        transition: transform;
        transition: transform, -webkit-transform
    }

    .card-img:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent
    }
}

.article-card--stack {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: none;
    transition: none
}

.body-article .article-card--stack {
    background: #f5f5f5
}

.article-card--stack .article {
    width: 100%
}

@media (min-width:570px) and (max-width:1023px) {
    .article-card--stack .article {
        width: 48%
    }
}

@media (min-width:1024px) {

    .article-featured:hover:before,
    .article-no-img:hover:before {
        opacity: 1
    }

    .article-featured:hover .wrap:after,
    .article-no-img:hover .wrap:after {
        background-color: rgba(0, 0, 0, .15)
    }

    .article-featured:hover img {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    .breadcrumbs a>span {
        -webkit-transition: border-color, .2s;
        transition: border-color, .2s
    }

    .breadcrumbs a:hover {
        color: #d39d44
    }

    .breadcrumbs a:hover>span {
        border-color: #d39d44
    }
}

.underline-title {
    position: relative;
    padding-bottom: .5em;
    margin-bottom: 1rem
}

.underline-title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 35px;
    height: 4px;
    background: #d39d44
}

.share-module {
    text-align: left;
    width: 100%
}

.category-header .main-content,
.icon-sg-social,
.sg-social>div,
.share-module {
    display: inline-block
}

.category-header .sidebar {
    display: inline-block;
    float: right
}

.category-header .share-module {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: right
}

.icon-sg-social {
    color: #fff
}

.text-sg-social {
    color: #fff;
    line-height: 1
}

.icon-sg-social {
    line-height: 0;
    position: relative;
    top: -1px
}

.tdc-search form label,
.text-sg-social {
    display: none;
    visibility: hidden
}

@media (min-width:768px) {
    .text-sg-social {
        visibility: visible;
        display: inline-block;
        font-size: .75rem;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-weight: 700;
        position: relative;
        top: -1px;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
}

.sg-social button {
    border: 0;
    border-radius: 20px;
    padding: 5px;
    margin-right: 5px;
    min-height: 30px;
    min-width: 30px
}

.sg-social button.sg-whatsapp-btn {
    background: #55af00
}

@media (min-width:768px) {
    .sg-social button.sg-whatsapp-btn:hover {
        background: #3c7c00
    }
}

.sg-social button.sg-facebook-btn {
    background: #4b68ba
}

@media (min-width:768px) {
    .sg-social button.sg-facebook-btn {
        padding: 5px 10px
    }

    .sg-social button.sg-facebook-btn:hover {
        background: #3a5398
    }
}

.sg-social button.sg-linkedin-btn {
    background: #007bb6;
    font-size: .875rem
}

@media (min-width:768px) {
    .sg-social button.sg-linkedin-btn:hover {
        background: #005983
    }
}

.sg-social button.sg-twitter-btn {
    background: #00abef;
    font-size: .875rem
}

@media (min-width:768px) {
    .sg-social button.sg-twitter-btn:hover {
        background: #0087bc
    }
}

.sg-social button.sg-sms-btn {
    background: #385ecb;
    font-size: .875rem
}

.sg-social button.sg-email-btn .icon-sg-social,
.sg-social button.sg-sms-btn .icon-sg-social {
    top: -2px
}

@media (min-width:768px) {
    .sg-social button.sg-sms-btn {
        display: none;
        visibility: hidden
    }

    .sg-social button.sg-sms-btn:hover {
        background: #2b4ba5
    }
}

.sg-social button.sg-email-btn {
    background: #999;
    font-size: .875rem
}

@media (min-width:768px) {
    .sg-social button.sg-email-btn:hover {
        background: #7f7f7f
    }
}

.sg-social button.sg-print-btn {
    background: #bfbfbf;
    display: none;
    visibility: hidden
}

@media (min-width:768px) {
    .sg-social button.sg-print-btn {
        display: block;
        visibility: visible
    }

    .sg-social button.sg-print-btn:hover {
        background: #a6a6a6
    }
}

.related-inline {
    display: block;
    visibility: visible
}

.related-inline .article-card--list,
.related-inline-title {
    margin-bottom: 1rem
}

.related-inline .article-card--list:last-child {
    margin-bottom: 0
}

.related-inline .article-card--stack {
    display: block;
    padding: 1rem
}

.related-inline .article-card--stack .article {
    margin-bottom: .625rem;
    padding-bottom: .625rem
}

@media (max-width:569px) {
    .related-inline .article-card--stack .article {
        width: 100%
    }
}

@media (max-width:1023px) {
    .related-inline .article-card--stack .article:last-child {
        margin: 0;
        padding: 0;
        border: 0
    }
}

@media (min-width:570px) and (max-width:1023px) {
    .related-inline .article-card--stack .article {
        width: 100%
    }
}

@media (min-width:1024px) {
    .related-inline .article-card--stack .article:last-child {
        margin: 0;
        padding: 0;
        border: 0
    }
}

.related-inline .article-card--stack .title {
    font-size: .875rem
}

.related-inline .btn-subtle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: .625rem
}

@media (min-width:1024px) {
    .related-inline .card-img {
        -ms-flex-preferred-size: 100px;
        flex-basis: 100px
    }
}

.related-inline--solo a {
    text-decoration: none;
    color: inherit
}

@media (min-width:1024px) {
    .related-inline--solo a {
        -webkit-transition: background-color, .2s;
        transition: background-color, .2s
    }

    .related-inline--solo a:hover {
        background: #eee
    }

    .related-inline--solo a:hover i {
        margin-left: 1em
    }
}

.related-section {
    padding: 1.25rem 0 0;
    display: inline-block
}

@media (min-width:768px) {
    .related-section {
        padding: 1.875rem 0
    }
}

.related-section .section-title {
    margin-top: 0;
    text-align: left
}

.related-section .section-title--inner {
    padding-left: 0
}

.related-section .article-card {
    background: #f5f5f5
}

.related-section .sidebar {
    background: #eee;
    margin: 0 -10px;
    padding: 1.875rem 10px
}

.required-mark {
    color: #f50023
}

.form-message {
    display: inline-block;
    color: #fff;
    font-size: .875rem;
    line-height: 1.35;
    padding: .625rem;
    margin-top: 1.25rem;
    border-radius: 3px
}

.form-message.valid {
    background: #24b35d
}

.form-message.error {
    background: #f50023
}

.pagination {
    font-family: "Muli", Helvetica, Arial, sans-serif;
    line-height: 1;
    text-align: center;
    margin: 1.875rem 0 2.5rem
}

@media (max-width:569px) {
    .pagination {
        margin-left: -10px;
        margin-right: -10px
    }
}

.pagination .page {
    display: inline-block;
    vertical-align: middle
}

.pagination .page:not(:first-child) {
    margin-left: .3125rem
}

@media (min-width:570px) {
    .pagination .page:not(:first-child) {
        margin-left: .625rem
    }
}

@media (max-width:569px) {
    .pagination .page:nth-child(n+5):not(:last-child) {
        display: none;
        visibility: hidden
    }
}

.pagination a,
.pagination span {
    display: block;
    min-width: 32px;
    font-size: .875rem;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(25, 25, 25, .1);
    box-shadow: inset 0 0 0 1px rgba(25, 25, 25, .1);
    padding: .625rem;
    vertical-align: middle;
    text-decoration: none
}

@media (min-width:1024px) {
    .pagination a {
        -webkit-transition: box-shadow, .2s;
        -webkit-transition: .2s, -webkit-box-shadow;
        transition: box-shadow, .2s;
        transition: box-shadow, .2s, -webkit-box-shadow
    }

    .pagination a:focus,
    .pagination a:hover {
        color: inherit;
        -webkit-box-shadow: inset 0 0 0 1px rgba(25, 25, 25, .3);
        box-shadow: inset 0 0 0 1px rgba(25, 25, 25, .3)
    }
}

.pagination .page--current span {
    background-color: #b9832b;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default
}

@media (min-width:570px) {
    .pagination .page--current span {
        min-width: 38px;
        font-size: 1.125rem
    }
}

.pagination .page--ellip span {
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default
}

.pagination .page--jump i {
    color: #b9832b;
    font-size: .625rem
}

.pagination .page--jump:first-child i {
    margin: 0 .5em 0 0
}

.pagination .page--jump:last-child i {
    margin: 0 0 0 .5em
}

.filter-type {
    pointer-events: none
}

.filter-selector select {
    cursor: pointer;
    -webkit-transition: box-shadow, .2s;
    -webkit-transition: .2s, -webkit-box-shadow;
    transition: box-shadow, .2s;
    transition: box-shadow, .2s, -webkit-box-shadow
}

.filter-selector select:focus,
.filter-selector select:hover {
    -webkit-box-shadow: inset 0 0 0 1px #c8c8c8;
    box-shadow: inset 0 0 0 1px #c8c8c8
}

@media print {

    .footer,
    .nav,
    .related-inline,
    .related-section,
    .share-module,
    .sidebar,
    .toggle-menu,
    .videoWrapper,
    div[data-oembed-url] {
        display: none;
        visibility: hidden
    }

    @page {
        margin: .5cm 1cm
    }

    .article--body img {
        max-width: 500px
    }
}

.author-article--b {
    font-size: .84375rem;
    padding: 10px 8px 15px;
    margin: 10px 0 0;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    width: 100%
}

.author-article--b__photo {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 36px;
    height: 36px
}

.author-article--b__photo>img {
    max-height: 100%
}

.author-article--b__photo amp-img,
.author-article--b__photo>img {
    position: absolute;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: initial
}

.author-article--b__photo--circle {
    border-radius: 50%
}

.author-article--b__info {
    display: inline-block;
    margin-top: 3px
}

.author-article--b__info__name,
.author-article--b__info__reviewer {
    font-weight: 600;
    -webkit-font-smoothing: antialiased
}

.author-article--b__info__name a,
.author-article--b__info__reviewer a {
    font-weight: 600;
    color: #2d6da3;
    text-decoration: none;
    word-break: break-word;
    display: inline
}

.author-article--b__info__name a:hover,
.author-article--b__info__reviewer a:hover {
    color: #285f8f;
    text-decoration: underline
}

.author-article--b__info__job-title {
    display: table-row;
    vertical-align: middle
}

.author-article--b__bio p:last-child {
    padding-bottom: 0
}

article.amp .author-article--b {
    margin: 0;
    padding: 10px;
    width: calc(100% - 20px)
}

article.amp .author-article--b__photo,
article.amp .author-article--t__photo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.tdc-search {
    margin: 6px 0 0;
    float: right;
    background: #fff;
    border-radius: 3px
}

.tdc-search form input {
    width: 50px;
    padding-left: 10px;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 solid transparent;
    z-index: 20;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.tdc-search form input::-webkit-input-placeholder {
    color: transparent
}

.tdc-search form input:-moz-placeholder,
.tdc-search form input::-moz-placeholder {
    color: transparent
}

.tdc-search form input:-ms-input-placeholder {
    color: transparent
}

.tdc-search form input:focus {
    background: #fff;
    color: #7f7f7f;
    z-index: 1;
    width: calc(100% - 20px);
    outline: 0
}

.tdc-search form input:focus::-webkit-input-placeholder {
    color: #bfbfbf
}

.tdc-search form input:focus:-moz-placeholder,
.tdc-search form input:focus::-moz-placeholder {
    color: #bfbfbf
}

.tdc-search form input:focus:-ms-input-placeholder {
    color: #bfbfbf
}

.tdc-search form .icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    width: 100%;
    height: 100%
}

.tdc-search form .icon-wrapper i {
    line-height: 40px;
    color: #fff;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.tdc-search form .icon-wrapper i::before {
    font-weight: 700
}

.share-module {
    position: relative;
    padding: 0;
    z-index: 1;
    margin: 0
}

@media (min-width:768px) {
    .share-module {
        position: absolute;
        width: auto;
        top: -3px;
        right: 0
    }
}

.author-article--b {
    position: relative;
    background-color: #f5f5f5;
    border: 0 solid #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 10
}

@media (max-width:768px) {
    .author-article--b {
        padding: 10px;
        margin: 20px -10px;
        width: calc(100% + 20px);
        -webkit-box-shadow: 0 6px 4px -5px rgba(0, 0, 0, .2);
        box-shadow: 0 6px 4px -5px rgba(0, 0, 0, .2)
    }
}

.author-article--b__photo {
    top: 5px
}

.author-article--b__bio {
    color: #757575
}

.author-article--b__info {
    width: calc(100% - 60px)
}

.article-footer {
    position: relative;
    min-height: 33px;
    display: inline-block;
    width: 100%;
    margin-top: 10px
}